name = "registrai-kya-api"
main = "src/index.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]

# Custom Domain Configuration
routes = [
	{ pattern = "api.registrai.cc/*", zone_name = "registrai.cc" }
]

[triggers]
crons = ["*/1 * * * *"]

[[d1_databases]]
binding = "DB"
database_name = "kya-prod"
database_id = "cd202d84-66a4-4d0b-b3a9-aba005fb58fe"

[vars]

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1